html {
    width: 95%;
    margin: 10px auto 10px auto;
}
body {
    background-color: rgba(100, 125, 125, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
/* h1, h2, h3 { text-align: center; } */

